[core]
	excludesfile = ~/.gitignore_global
[user]
	name = onunu
	email = riku.onuma@livesense.co.jp
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
